.blogPost:nth-of-type(2n) {
  margin: 20px auto;  
  background-color: lightgray;
}

img {
  width: 45%;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.container.main{
  margin-top: 60px;
}

.container.blogPost {
  padding: 10px;
}

#deleteBtn {
  display: inline;
}
.post-content {
  font-family: 'Raleway', sans-serif;
}
